.__form {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 0.5rem;
    flex-direction: column;
}

.container-controls{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
